@model ECommerceManager.Dtos.Categories.CategoryDto   

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Category</h4>
    <hr/>
    <dl class="row">

        <dt class="col-sm-2"> id </dt>
        <dd class="col-sm-10" id="cat-id"></dd>
    
        <dt class="col-sm-2">Name
        </dt>
        <dd class="col-sm-10" id="cat-name"> </dd>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        const urlParams = new URLSearchParams(window.location.search);
        const id = urlParams.get("id");
        if (!id) {
            alert("category id not foumd");
            return;
        }
        $.ajax({
            url: `/Category/GetCategoryDetails?Id=${id}`,
            type: "GET",
            success: function (data) {
                $("#cat-id").text(data.Id);
                $("#cat-name").text(data.Name);
            },
            error: function (xhr, status, error) {
                console.error("Veri alınamadı", error);
            }
        });
    });
</script>