@model IEnumerable<ECommerceManager.Dtos.Categories.CategoryDto>


@{
    ViewData["Title"] = "Kategoriler";
}

<h1>Category List</h1>
<p>
    <a asp-action=" Create" class="btn btn-success">Add New Category</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th> Category Name</th>
            <th>Category Id</th>
            <th style="width: 200px">İşlemler</th>
        </tr>
    </thead>
    <tbody id="categoryTableBody">
    </tbody>
</table>
<div id="error" style="color:red;"></div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        fetch("/Category/GetAllCategories")
            .then(response => {
                if (!response.ok) {
                    throw new Error("Veriler alınamadı");
                }
                return response.json();
            })
            .then(data => {
                const tbody = document.getElementById("categoryTableBody");
                data.forEach(item => {
                    const row = document.createElement("tr");

                    row.innerHTML = `
                            <td>${item.Name}</td>
                            <td>${item.Id}</td>
                            <td>
                                <a href="/Category/Edit/?id=${item.Id}" class="btn btn-primary btn-sm">Edit</a>
                                <a href="/Category/Details/?id=${item.Id}" class="btn btn-warning btn-sm">Details</a>
                                <a href="/Category/Delete/?id=${item.Id}" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        `;

                    tbody.appendChild(row);
                });
            })
            .catch(error => {
                document.getElementById("error").textContent = error.message;
            });
    });

</script>