@model List<ECommerceManager.Dtos.RoleDtos.UserRoleDto>

@{
    ViewData["Title"] = "Kategoriler";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <td>User Name</td>
            <td>Full Name</td>
            <td>Role</td>
            <td>New Role</td>
        </tr>          
    </thead>
    <tbody id="roleTableBody">

    </tbody>

</table>
