@using ECommerceManager.Dtos.RoleDtos
@model List<ECommerceManager.Dtos.RoleDtos.UserRoleDto>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Kullanıcı Adı</th>
			<th>Ad Soyad</th>
			<th>Mevcut Rol</th>
			<th>Yeni Rol Ata</th>
		</tr>
	</thead>
	<tbody>

		@foreach (var user in Model)
		{
			<tr>
				<td>@user.UserName</td>
				<td>@user.FullName</td>
				<td>@user.Roles</td>
				<td>
					@{
						await Html.RenderPartialAsync("_UpdateRolePartialView", new RoleUpdateDto { Id = user.Id }, new ViewDataDictionary(this.ViewData) { { "ARDA", "X" } });
					}
				</td>
			</tr>
		}
	</tbody>
</table>
