@*@using ECommerceManager.Dtos.RoleDtos*@
@model ECommerceManager.Dtos.RoleDtos.UserWithAllRolesDto

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Kullanıcı Adı</th>
            <th>Ad Soyad</th>
            <th>Mevcut Rol</th>
            <th>Yeni Rol Ata</th>
        </tr>
    </thead>
    <tbody id="updateDiv">
        @{
            await Html.RenderPartialAsync("_UpdateRolePartialView", Model, new ViewDataDictionary(ViewData));
        }
    </tbody>
</table>
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).on("submit", ".role-update-form", function (e) {
            e.preventDefault();
            const form = $(this);
            const userId = form.data("user-id");
            const selectedRole = form.find("select").val();
            let postData = {
                UserId: userId,
                RoleId: selectedRole
            };

            $.ajax({
                url: "@Url.Action("UpdateRoleAjax")",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(postData),
                success: function (response) {
                    if (response) {
                        $("#updateDiv").html(response);
                    } else {
                        alert("XD");
                    }
                },
                error: function (xhr) {
                    alert("Hata oluştu: " + xhr.responseText);
                }
            });
        });
    </script>
}